* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rosario", sans-serif;
}

.hero {
  background: url("Liberation16_2.JPG");
  //   filter: blur(2px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
.title {
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgba(53, 52, 52, 0.692);
  font-family: "Oswald";
  font-size: 3.5rem;
  position: absolute;
  top: 20%;
  //   left: 50%;
  //   transform: translateX(-50%);
  padding: 5px;
  border: 5px solid white;
  border-right: none;
  border-left: none;
}
span {
  color: red;
}
.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid rgb(52, 58, 64);
  border-right: 3px solid rgb(52, 58, 64);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 3s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.wrapper {
  background-color: white;
  //   padding-top: 2.5rem;
}
/* alternative styling bs navbar*/
.navbar {
  //   animation: jump 5s infinite;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(52, 58, 64, 0.815) !important;
}
// @keyframes jump {
//   10% {
//     margin-top: -50px;
//   }
//   100% {
//     margin-top: 0px;
//   }
// }
.collapse {
  padding-right: 25px;
}
.nav-link {
  padding-right: 30px !important;
  color: white !important;
  //   letter-spacing: 0;
}

.nav-link:hover {
  letter-spacing: 3px;
}

.nav-link:after,
.nav-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.nav-link:hover:after,
.nav-link:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 450ms ease-in-out;
  width: 100%;
}

.nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/*end navbar styling */
.active {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
}
.container {
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding-top: 2rem;
}
.text-container > p::first-letter {
  font-size: 32px;
  //   font-style: italic;
  color: red;
  //   font-family: "Kaushan Script", cursive;
}

.picture {
  width: 100%;
  max-width: 500px;
}
.text-container {
  width: 100%;
  padding: 1.5rem;
  line-height: 25px;
  h3 {
    padding-top: 10px;
    margin-bottom: 30px;
  }
}

.btn {
  display: inline-block;
  color: white;
  background: black;
  margin-top: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: rgb(187, 185, 185);
    transition: 0.4s;
  }
}

.line {
  width: 90%;
  margin: 3% 5%;
}

.footer {
  padding: 5px 20px 5px 20px;
  background-color: rgb(67, 78, 88);
  color: white;
  text-align: center;
  height: 150px;
  p {
    margin-bottom: 0;
  }
}
.social {
  margin-bottom: 20px;
}
.fab {
  margin: 10px;
}

.footer-text {
  font-size: 12px;
}
