* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rosario", sans-serif;
  background: #f5efef;
}

.hero {
  background: url("Liberation16.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

.title {
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgba(53, 52, 52, 0.692);
  font-family: "Oswald";
  font-size: 3.5rem;
  position: absolute;
  top: 20%;
  padding: 5px;
  border: 5px solid white;
  border-right: none;
  border-left: none;
}

span {
  color: red;
}

.arrow {
  position: absolute;
  top: 85%;
  left: 5%;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid #343a40;
  border-right: 3px solid #343a40;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 3s infinite;
          animation: animate 3s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.wrapper {
  background-color: white;
}

/* alternative styling bs navbar*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(52, 58, 64, 0.815) !important;
}

.collapse {
  padding-right: 25px;
}

.nav-link {
  padding-right: 30px !important;
  color: white !important;
}

.nav-link:hover {
  letter-spacing: 3px;
}

.nav-link:after,
.nav-link:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.nav-link:hover:after,
.nav-link:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 450ms ease-in-out;
  transition: width 450ms ease-in-out;
  width: 100%;
}

.nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/*end navbar styling */
.active {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
}

.container {
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding-top: 2rem;
}

.text-container > p::first-letter {
  font-size: 32px;
  color: red;
}

.picture {
  width: 100%;
  max-width: 500px;
}

.text-container {
  width: 100%;
  padding: 1.5rem;
  line-height: 25px;
}

.text-container h3 {
  padding-top: 10px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  color: white;
  background: black;
  margin-top: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background-color: #bbb9b9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.line {
  width: 90%;
  margin: 3% 5%;
}

.footer {
  padding: 10px 20px;
  background-color: #434e58;
  color: white;
  text-align: center;
  height: 33vh;
}

.footer ul {
  list-style: none;
}

.footer li {
  font-size: 1.5rem;
}
/*# sourceMappingURL=styles2.css.map */