* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rosario", sans-serif;
}
.navbar {
  //   animation: jump 5s infinite;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(52, 58, 64, 0.815) !important;
}
// @keyframes jump {
//   10% {
//     margin-top: -50px;
//   }
//   100% {
//     margin-top: 0px;
//   }
// }
.collapse {
  padding-right: 25px;
}
.nav-link {
  padding-right: 30px !important;
  color: white !important;
  //   letter-spacing: 0;
}

.nav-link:hover {
  letter-spacing: 3px;
}

.nav-link:after,
.nav-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.nav-link:hover:after,
.nav-link:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 450ms ease-in-out;
  width: 100%;
}

.nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
///////////////////////
h2 {
  text-align: center;
  margin-top: 1.5rem;
}
h3 {
  text-align: center;
  padding-top: 10px;
}
.toggles {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.btn-contact {
  box-shadow: 5px 8px 13px -5px black;
  display: inline-block;
  color: white;
  background: rgba(52, 58, 64, 0.815);
  margin-top: 2rem;
  margin-bottom: 50px;
  margin-right: 10px;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.form-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
  display: none;
  box-shadow: -10px 2px 13px -7px #535252, 10px 2px 13px -7px #535252,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

form {
  padding-left: 10px;
  width: 100%;
  max-width: width 900px;
  margin: 0 auto;
}

.input,
textarea {
  border-radius: 5px;
  padding: 0 10px;
  margin: 0;

  background: rgba(0, 0, 0, 0.1);
}
.input:focus,
textarea:focus {
  background: white;
  border-radius: 5px;
  outline: none;
}
.input {
  width: 250px;
  height: 1.5em; /* for IE */
  vertical-align: middle; /* This is optional but it makes legacy IEs look better */
}
textarea {
  display: block;

  padding: 10px;
  margin: 10px 0 0 0;
  width: 350px;
  height: 200px;

  resize: none;
  overflow: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  .btn {
    margin: 0 20px 10px 0;
  }
}
