body {
  font-family: "Rosario", sans-serif;
  background-color: #354044;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;

  // clip-path: polygon(1% 0, 80% 0%, 100% 100%, 14% 79%);
}
.navbar {
  //   animation: jump 5s infinite;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(52, 58, 64, 0.815) !important;
}
// @keyframes jump {
//   10% {
//     margin-top: -50px;
//   }
//   100% {
//     margin-top: 0px;
//   }
// }
.collapse {
  padding-right: 25px;
}
.nav-link {
  padding-right: 30px !important;
  color: white !important;
  //   letter-spacing: 0;
}

.nav-link:hover {
  letter-spacing: 3px;
}

.nav-link:after,
.nav-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.nav-link:hover:after,
.nav-link:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 450ms ease-in-out;
  width: 100%;
}

.nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
#form {
  position: absolute;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  // left: 15%;
  padding-left: 25px;
}

.header,
.label {
  display: block;
  font-weight: 700;
  color: #fdfeff;
  padding: 10px 0;
}
.header {
  // width: 400px;
  font-size: 50px;
  margin: 20px 0;
}

.input {
  font-family: "Open Sans", sans-serif;
  max-width: 400px;
  width: 80%;
  height: 1.8rem;
  border: 0;
  border-radius: 2px;
  box-shadow: 6px 3px 13px 0px rgb(22, 20, 20);
  padding: 0px 5px;
}
.input.php {
  box-shadow: none;
}

.message {
  font-family: "Open Sans", sans-serif;
  max-width: 400px;
  width: 80%;
  padding: 10px 5px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 2px;
  box-shadow: 6px 3px 13px 0px rgb(22, 20, 20);
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  max-width: 82%;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #98554f;
  max-width: 410px;
  width: 82%;
  border: 0;
  border-radius: 2px;
  color: #fdfeff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px 0;
  box-shadow: 6px 3px 13px 0px rgb(22, 20, 20);
}

.button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #fdfeff;
  color: #98554f;
  cursor: pointer;
}

::placeholder {
  font-style: italic;
  color: #98554f;
}
#php {
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  width: 300px;
  height: 100px;
  padding: 5px;
  text-align: center;
  border: 0;
  border-radius: 2px;
  box-shadow: 6px 3px 13px 0px rgb(22, 20, 20);
  display: none;
  box-sizing: border-box;
}
a {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
}

#phpBox {
  display: none;
}
